<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  </head>
  <body>
    <div class="container-fluid">
    	<div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-list">
                <li class="nav-header">Album</li>
                <li><a href="/admin/album/list">List</a></li>
                <li><a href="/admin/album/add">Add</a></li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">User</li>
                <li><a href="/admin/user/list">List</a></li>
                <li><a href="/admin/user/add">Add</a></li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">Song</li>
                <li><a href="/admin/song/add">Add song to Album</a></li>
            </ul>
        </div>    
    </div>
  </body>
</html>